body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-top: 0;
  overflow: auto;
}

.profile-container {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: 100px;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex !important; /* 必要に応じて追加 */
  align-items: center;
  justify-content: center;
}

.profile-header {
  text-align: center;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-name {
  margin-top: 10px;
  font-size: 24px;
}

.profile-body {
  text-align: center;
  width: 100%;
}

.section-title {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
}

.profile-description {
  font-size: 24px;
  margin-bottom: 20px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  text-align: center;
}

.skill-item h4 {
  margin-bottom: 10px;
}

.chart-container {
  width: 100px;
  height: 100px;
  position: relative;
}

.timeline-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

/* 矢印ボタンのスタイル */
.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 20px; /* 横幅を広く取る */
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px; /* ボタンを左端に近づける */
  margin-right: 0px; /* ボタンを右端に近づける */
}

.arrow-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.arrow-left {
  left: 0px; /* 左端に近づける */
}

.arrow-right {
  right: 0px; /* 右端に近づける */
}
