.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
  list-style: none;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #00cc66;
  top: 0;
  bottom: 0;
  left: 30px;
  margin-left: -1px;
}

.timeline-item {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.timeline-dot {
  position: absolute;
  left: 22px;
  width: 12px;
  height: 12px;
  background-color: #00cc66;
  border-radius: 50%;
  border: 3px solid #fff;
  z-index: 1;
}

.timeline-content {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 60px;
  width: 100%; /* 横幅を親要素の100%に設定 */
  max-width: 700px; /* 必要に応じて最大幅を設定 */
}

.timeline-content h4 {
  margin-top: 0;
  color: #00cc66;
}

.timeline-content p {
  margin: 5px 0;
  color: #333;
}

.timeline-content p.dates {
  font-size: 0.9em;
  color: #00cc66;
}
